{% extends 'base.html.twig' %}

{% block title %}Repair index{% endblock %}

{% block body %}
    <h1>Repair index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Car</th>
                <th>Date</th>
                <th>Start_date</th>
                <th>End_date</th>
                <th>Reason</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for repair in repairs %}
            <tr>
                <td>{{ repair.id }}</td>
                <td>{{ repair.car }}</td>
                <td>{{ repair.date ? repair.date|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ repair.startDate ? repair.startDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ repair.endDate ? repair.endDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ repair.reason }}</td>
                <td>
                    <a href="{{ path('app_repair_show', {'id': repair.id}) }}">show</a>
                    <a href="{{ path('app_repair_edit', {'id': repair.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_repair_new') }}">Create new</a>
{% endblock %}
